.DS_Store
*~
*.swp
*.log
*.orig
(.*/)?\#[^/]*\#$
config.gypi
config.mk
out/*
certs/*.key
certs/*.keystore
certs/*.p12
certs/*.pem
tools/*.pyc
package/*.bin
*.zip
docs/html/*
test/*/.app-id
test/*/package.json
test/*/temperature-monitoring.so
test/*/.moat_cmd_history
test/*/.moat_ds

